#about {
	margin: 0 auto;
	width: 80%;
	padding: 50px 30px 5px 30px;
	text-align: center;
}


#about p {
	font-size: 1.2em;
	color: white;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
	background: rgba(0,0,0,0.4);
	padding: 10px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
}


#guitar-quote {
	font-family: "Georigia", serif;
	font-size: 2em;
	font-style: italic;
	color: white;
	text-align: center;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
	background: rgba(0,0,0,0.4);
	display: inline;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	text-align: center;
}
