
/*COLOR SCHEME

Light Yellow: #fffce9 ;
Light Brown: #924533 ;
Medium Brown: #443029 ;
Dark Blue: #161d25 ;
*/

/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Hind');

/*MAIN CONTAINER STYLES*/

body {
	background-color: #161d25;
}

.container {

}

header {
	position: fixed;
	top: 10px;
	left: 0;
	z-index: 10;
	min-height: 50px;
	width: 100%;
	background-color: #fffce9;
}

section#main {
	margin-top: 110px;
	min-height: 75vh;
	background-image: url('../img/guitar_splash.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #161d25;
}

footer {
	margin-top: 3px;
	background-color: #fffce9;
	text-align: center;
}

/*NAV LIST STYLES*/
h1 {
	display: inline-block;
	color: #161d25;
	font-family: 'Fjalla One', sans-serif;
	padding-left: 1em;
	font-size: 5em;
	margin: 0;
	text-shadow: 2px 2px 2px #fff;
}

header ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	float: right;
}

header li {
	margin-right: 3em;
	font-family: 'Hind', sans-serif;
	font-size: 1.4em;
	font-weight: normal;
}

a {
	text-decoration: none;
	color: inherit;
}

li a:hover {
	background-color: #161d25;
	color: #fffce9;
	border-radius: 10%;
}

p {
	font-family: 'Hind', sans-serif;
	font-size: 0.8em;
}

/*SPLASH STYLES*/

.row {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.col {
	width: 50%;
	padding: 5em;
}

p.splash-text {
	padding: 1em;
	background-color: rgba(0, 0, 0, 0.4);
	color: #fffce9;
	font-family: 'Hind', sans-serif;
	font-size: 1.4em;
}

input[type="submit"] {
	background-color: rgba(0, 0, 0, 0);
	font-family: 'Hind', sans-serif;
	font-size: 2em;
	color: #fffce9;
	margin-top: 20%;
	padding: 0.2em;
	float: right;
	border-color: #fffce9;
}

input[type="submit"]:hover {
	opacity: 0.5;
}

/*input[type="submit"] {
	background-color: #99ddff;
	font-family: 'Hind', sans-serif;
	font-size: 2em;
	color: #161d25;
	margin-top: 20%;
	padding: 0.2em;
	float: right;
}*/

h3 {
	font-family: 'Hind', sans-serif;
	font-size: 1.4em;
	color: white;
}

/*ABOUT PAGE STYLES */

#about {
	margin: 0 auto;
	width: 80%;
	padding: 50px 30px 5px 30px;
	text-align: center;
}


#about p {
	font-size: 1.2em;
	color: white;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
	background: rgba(0,0,0,0.4);
	padding: 10px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
}


#guitar-quote {
	font-family: "Georigia", serif;
	font-size: 2em;
	font-style: italic;
	color: white;
	text-align: center;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
	background: rgba(0,0,0,0.4);
	display: inline;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	text-align: center;
}

/* PRODUCTS PAGE STYLES */

#products-container {
	width: 100%;
	margin: 0;
	padding: 1em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.product-card {
	display: flex;
	flex-direction: column;
	background-color: white;
	width: 25%;
	margin: 2.5%;
	min-height: 300px;
	text-align: center;
	box-shadow: 2px 2px 5px #333;
}

img.products-img {
	max-width: 100%;
	margin: 0 auto;
}

h3 {
	color: white;
	font-family: 'Fjalla One', sans-serif;
}

p.description {
	margin: 0;
}

p.price {
	font-size: 2em;
	margin: 1em;
	color: #443029;
}

/* SALES TEAM */

.sales_team {
   
   padding: 8px;
   margin-top: 33px;
}



.sales_container {
	margin: 13px 2px;
	flex-direction: row;
	flex-wrap: wrap;
	float: left;
	color: white;
	text-align: center;

}

.sales_main {
	margin-top: 19px;
}

/* CONTACT PAGE STYLES */

section#contact {
	padding: 150px 0 0 100px;
	color: #fffce9;
	background-image: url('../img/guitar_splash.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #161d25;

}

input {
	width: 300px;
	margin-bottom: 20px;
	
}

textarea {
	width: 300px;
	height: 200px;
}

h2 {
	font-family: 'Hind', sans-serif;
}

p.size {
	font-size: 20px;
}
