
/*COLOR SCHEME

Light Yellow: #fffce9 ;
Light Brown: #924533 ;
Medium Brown: #443029 ;
Dark Blue: #161d25 ;
*/

/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Hind');

/*MAIN CONTAINER STYLES*/

body {
	background-color: #161d25;
}

.container {

}

header {
	position: fixed;
	top: 10px;
	left: 0;
	z-index: 10;
	min-height: 50px;
	width: 100%;
	background-color: #fffce9;
}

section#main {
	margin-top: 110px;
	height: 75vh;
	background-image: url('../img/guitar_splash.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #161d25;
}

footer {
	margin-top: 3px;
	background-color: #fffce9;
}

/*NAV LIST STYLES*/
h1 {
	display: inline-block;
	color: #161d25;
	font-family: 'Fjalla One', sans-serif;
	padding-left: 1em;
	font-size: 5em;
	margin: 0;
}

header ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	float: right;
}

header li {
	margin-right: 3em;
	font-family: 'Hind', sans-serif;
	font-size: 1.4em;
	font-weight: normal;
}

a {
	text-decoration: none;
	color: inherit;
}

li a:hover {
	background-color: #161d25;
	color: #fffce9;
	border-radius: 10%;
}

p {
	font-family: 'Hind', sans-serif;
	font-size: 0.8em;
}

